.header1{ 
    text-align: center;
    text-size-adjust: ;
    color: antiquewhite;
    background-color: black 
}
.hhh{
    text-align: center;
    color: black;
}
.img1 {
    margin: auto;
    left: auto;
    right: auto;
}